.portrait {
	background-image: url('../img/phil_monkey.jpg');
	display: block;
  width: 200px;
  height: 200px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

/* Styling About me section */

.timeline-body {
  padding-bottom: 50px;
}

.waterloo-img {
  /* image source: https://www.campusvibez.ca/wp-content/uploads/waterloo1.jpg */
  background-image: url('../img/waterloo1.jpg');
  background-color: white;
  display: block;
  width: 250px;
  height: 250px;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.berkeley-img {
  /* image source: http://www.haaretz.com/polopoly_fs/1.468240.1349365363!/image/4067091115.jpg_gen/derivatives/landscape_640/4067091115.jpg */
  background-image: url('../img/berkeley_campus.jpg');
  background-color: white;
  display: block;
  width: 250px;
  height: 250px;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.spinpunch-img {
  /* image source: http://www.spinpunch.com/wp-content/uploads/2013/02/Scene_01.png*/
  background-image: url('../img/mf_scene_1.png');
  background-color: white;
  display: block;
  width: 250px;
  height: 250px;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.toronto-img {
  /* image source: http://cache.graphicslib.viator.com/graphicslib/destination/toronto-154805.jpg */
  background-image: url('../img/toronto-skyline.jpg');
  background-color: white;
  display: block;
  width: 250px;
  height: 250px;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.bitmaker-img {
  /* image source: https://jlau-bucket-1.s3.amazonaws.com/uploads/topic/image/40/bitmakerlabs.png */
  background-image: url('../img/bitmakerlabs.png');
  background-color: white;
  display: block;
  width: 250px;
  height: 250px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

/* New background images! */
header {
	background-image: url('../img/color_explosion_1.jpg');
	background-size: cover;
}
section#contact{
	background-image: url('../img/sean_gladwell_above_blue_typewriter.jpg')
}

/* Re-styling the contact section */
section#contact .section-heading {
    color: #fed136;
}

section#contact .section-heading {
  padding-bottom: 70px;
}

/* Change padding in header for portrait */
@media(min-width:768px) {
    header .intro-text {
        padding-top: 110px;
        padding-bottom: 200px;
    }
}

.contact-info {
  color: white;
  padding-top: 100px;
  line-height: 3em;
  font-size: 2em;
}

/* Change navbar color */
.navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #ff1a1a;
}


/* Change "find out more" button colours */
.btn-xl {
	background-color: #ff1a1a;
	border-color: #ff1a1a;
}

.btn-xl:hover {
	background-color: #e51717;
	border-color: #e51717;
}

/* Skill bars */

.skill-bar {
  height: 3.5em;
}
.progress-bar p {
  float: left;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 2px;
}

.rails-bg {
  background-color: #d27d87;
}

.rails {
 background-color: #B42738;
}

.javascript-bg {
  background-color: #f4e583;
}

.javascript {
  background-color: #F0DB4F;
}

.html-bg {
  background-color: #f38f66; 
}

.html {
 background-color: #EE5F25;
}

.ajax-bg {
  background-color: #b7c0ff;
}

.ajax {
  background-color: #7081ff;
}


.postgresql-bg {
  background-color: #99bcdb;
}

.postgresql {
  background-color: #337ab7;
}

.git-bg {
  background-color: #f69684;
}

.git {
  background-color: #F05033;
}








