
/* Styling header */
.portrait {
	background-image: url('../img/phil_monkey.jpg');
	display: block;
  width: 200px;
  height: 200px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.intro-heading {
  text-shadow: -1px 0 #cec8c9, 0 1px #cec8c9, 1px 0 black, 0 -1px #cec8c9;
}

.intro-lead-in {
  text-shadow: -1px 0 #cec8c9, 0 1px #cec8c9, 1px 0 black, 0 -1px #cec8c9; 
}

/* Styling About me section */

.timeline-body {
  padding-bottom: 50px;
}

.waterloo-img {
  /* image source: https://www.campusvibez.ca/wp-content/uploads/waterloo1.jpg */
  background-image: url('../img/waterloo1.jpg');
  background-color: white;
  display: block;
  width: 400px;
  height: 400px;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.berkeley-img {
  /* image source: http://www.haaretz.com/polopoly_fs/1.468240.1349365363!/image/4067091115.jpg_gen/derivatives/landscape_640/4067091115.jpg */
  background-image: url('../img/berkeley_campus.jpg');
  background-color: white;
  display: block;
  width: 400px;
  height: 400px;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.spinpunch-img {
  /* image source: http://www.spinpunch.com/wp-content/uploads/2013/02/Scene_01.png*/
  background-image: url('../img/mf_scene_1.png');
  background-color: white;
  display: block;
  width: 400px;
  height: 400px;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.toronto-img {
  /* image source: http://cache.graphicslib.viator.com/graphicslib/destination/toronto-154805.jpg */
  background-image: url('../img/toronto-skyline.jpg');
  background-color: white;
  display: block;
  width: 400px;
  height: 400px;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

.bitmaker-img {
  /* image source: https://jlau-bucket-1.s3.amazonaws.com/uploads/topic/image/40/bitmakerlabs.png */
  background-image: url('../img/bitmakerlabs.png');
  background-color: white;
  display: block;
  width: 400px;
  height: 400px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
}

/* New background images! */
header {
	background-image: url('../img/wood_background_kasper_nymann.jpg');
	background-size: cover;
}
section#contact{
	background-image: url('../img/sean_gladwell_above_blue_typewriter.jpg')
}

/* Re-styling the contact section */
section#contact .section-heading {
    color: #fed136;
}

section#contact .section-heading {
  padding-bottom: 100px;
}

.phone, .email {
  font-size: 1em;
  background: 10px solid black;
}

/* Change padding in header for portrait */

.contact-info {
  color: white;
  line-height: 2.5em;
  font-size: 2.3em;
  padding-bottom: 180px;
}

/* Change navbar color */
.navbar-default {
    /*border-color: transparent;*/
    background-color: #B42738;
}

.navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #B42738;
}


/* Change "find out more" button colours */
.btn-xl {
	background-color: #fed136;
	border-color: #fed136;
}

.btn-xl:hover {
	background-color: #fec503;
	border-color: #fec503;
}

/* Skill bars */

.skill-bar {
  height: 3.5em;
}
.progress-bar p {
  float: left;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 2px;
}

.rails-bg {
  background-color: #d27d87;
}

.rails {
 background-color: #B42738;
}

.javascript-bg {
  background-color: #f4e583;
}

.javascript {
  background-color: #F0DB4F;
}

.html-bg {
  background-color: #f38f66; 
}

.html {
 background-color: #EE5F25;
}

.ajax-bg {
  background-color: #b7c0ff;
}

.ajax {
  background-color: #7081ff;
}


.postgresql-bg {
  background-color: #99bcdb;
}

.postgresql {
  background-color: #337ab7;
}

.git-bg {
  background-color: #f69684;
}

.git {
  background-color: #F05033;
}
/* MEDIA STUFF */

.contact-info {
  font-size: 1.4em;
}

@media(min-width:480px) {
.contact-info {
  font-size: 2em;
}

}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 110px;
        padding-bottom: 200px;
    }
    .contact-info {
      font-size: 2em;
    }

}

@media(min-width:1200px) {

    .contact-info {
      font-size: 2.6em;
    }

}




